//@bg-border-color: transparent;  // Make all border colors transparent

@plugin-url: "plugins/themes/cdfu";

.pkp_footer_content {
 padding-bottom: 0px
}
.pkp_brand_footer {
 padding-top: 0px;
 margin-top: -70px
}
.pkp_brand_footer img {
 max-width: 100px !important
}
.pkp_head_wrapper {
	padding-top: 20px;	
}

.pkp_navigation_primary > li > a:focus{
	background-color:white !important;
}

.pkp_navigation_user > li > a:focus{
	background-color:white !important;
}


#fu_identity {	
	background-color: #ddd;
	color: #333;
	line-height:26px;
	margin-bottom:20px;
}

#fu_identity p {
	margin: 0px 0px 0px 15px;
	font-size:19px;
	font-weight: 400;
	padding: 6px 0px 4px 0px;
	font-family: Arial;
}

#fu_identity p a {
	color:#333;
	text-decoration:none;
	text-transform: uppercase;	
}

@media(min-width: 0px) {
	#fu_logo {
		background-image: url("/@{plugin-url}/images/fu-logo-text-2x_226_17.png");
		background-repeat: no-repeat;	
		display: block;
		min-width: 226px;
		height: 17px;
	}
	#fu_logo_image {
		padding: 30px 0px 22px 15px !important;
	}
}



@media(min-width: 992px) {
	#fu_logo {
		background-image: url("/@{plugin-url}/images/fu-logo-1x_226.png");
		background-repeat: no-repeat;	
		display:block;
		min-width:  226px;
		height: 60px;
	}	
	#fu_logo_image {
		padding: 0px 0px 9px 15px !important;
	}	
}

@media(min-width: 1200px) {
	#fu_logo {
		background-image: url("/@{plugin-url}/images/fu-logo-1x.png");
		background-repeat: no-repeat;
		display:block;
		min-width: 375px;
		height: 73px;
	}	
	#fu_logo_image {
		padding: 0px 0px 10px 15px !important;
	}	
}






	

